
.circle-container {
  position: absolute;
  -webkit-transform: translateY(0vh);
  transform: translateY(0vh);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.circle-container .title {
  position: absolute;
  width: 30px;
  top: -20px;
  left: -7px;
  color: #fff;
  font-size: 10px;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
  -webkit-animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}

.circle-container .circle.onMouse{

  /*border:2px solid #ff9c5c;*/
  /*border-shadow:*/
  background-image: radial-gradient(#99ffff, #ff9c5c 20%, rgba(255,156,92, 0) 50%);
  /*box-shadow: 0px 0px 2px #ff9c5c;*/
}

@-webkit-keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-frames {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
  50% {
    -webkit-transform: scale3d(2.2, 2.2, 1);
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
}
@keyframes scale-frames {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
  50% {
    -webkit-transform: scale3d(2.2, 2.2, 1);
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
}
.circle-container{
  left: 585px;
  top: 220px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-animation-duration: 34717ms;
  animation-duration: 34717ms;
  -webkit-animation-delay: 13306ms;
  animation-delay: 13306ms;
}

.circle-container.big{
  width:10px;
  height: 10px;
}

.circle-container.small{
  width:8px;
  height: 8px;
}

.circle-container.none{
  display: none;
}

.circle-container .biaoji{
  display: none;
  position: absolute;
}


.circle-container.big .biaoji{
  top: -30px;
  left: -5px;
}


.circle-container.small .biaoji{
  top: -31px;
  left: -6px;
}

.piaofu{
  position: absolute;
  z-index: 9999;
  top:0px;
  left: 0px;
  cursor: pointer;
}

.piaofu_x {
  -webkit-animation: piaofu_x 13s linear infinite alternate;
  animation: piaofu_x 13s linear infinite alternate;
}
.piaofu_y {
  -webkit-animation: piaofu_y 7s linear infinite alternate;
  animation: piaofu_y 7s linear infinite alternate;
}

/*.main{*/
/*  --Width:calc(100vw);*/
/*}*/

@-webkit-keyframes piaofu_x {
  100% {
    -webkit-transform: translateX(calc(100vw - 140px - 166px));
    transform: translateX(calc(100vw - 140px - 166px));
  }
}
@keyframes piaofu_x {
  100% {
    -webkit-transform: translateX(calc(100vw - 140px - 166px));
    transform: translateX(calc(100vw - 140px - 166px));
  }
}

@-webkit-keyframes piaofu_y {
  100% {
    -webkit-transform: translateY(calc(100vh - 360px));
    transform: translateY(calc(100vh - 360px));
  }
}
@keyframes piaofu_y {
  100% {
    -webkit-transform: translateY(calc(100vh - 360px));
    transform: translateY(calc(100vh - 360px));
  }
}

.beijing{
  left: 358px;
  top: 132px;
}

.shanghai{
  left: 410px;
  top: 209px;
}
/*597  115*/
/*291 56*/
.chongqing{
  left: 231px;
  top: 211px;
}

.huabei{
  left: 295px;
  top: 135px;
}
.huazhong{
  left: 280px;
  top: 193px;
}
.huadong{
  left: 366px;
  top: 173px;
}
.huanan{
  left: 276px;
  top: 257px;
}

.dongbei{
  left: 459px;
  top: 58px;
}

.xibei{
  left: 133px;
  top: 88px;
}
.xinan{
  left: 171px;
  top: 193px;
}
