
.circle-container {
  position: absolute;
  -webkit-transform: translateY(0vh);
  transform: translateY(0vh);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.circle-container .title {
  position: absolute;
  width: 30px;
  top: -20px;
  left: -7px;
  color: #fff;
  font-size: 10px;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
  -webkit-animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-frames {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
  50% {
    -webkit-transform: scale3d(2.2, 2.2, 1);
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
}
@keyframes scale-frames {
  0% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
  50% {
    -webkit-transform: scale3d(2.2, 2.2, 1);
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
}
.circle-container{
  left: 585px;
  top: 220px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-animation-duration: 34717ms;
  animation-duration: 34717ms;
  -webkit-animation-delay: 13306ms;
  animation-delay: 13306ms;
}

.circle-container.big{
  width:10px;
  height: 10px;
}

.circle-container.small{
  width:8px;
  height: 8px;
}

.circle-container.none{
  display: none;
}

.circle-container .biaoji{
  display: none;
  position: absolute;
}


.circle-container.big .biaoji{
  top: -28px;
  left: -4px;
}


.circle-container.small .biaoji{
  top: -31px;
  left: -6px;
}

.piaofu{
  position: absolute;
  z-index: 9999;
  top:20px;
  left: 50%;
  margin-left: -83px;
  cursor: pointer;
}

.beijing{
  left: 517px;
  top: 186px;
}

.shanghai{
  left: 584px;
  top: 291px;
}
/*597  115*/
/*291 56*/
.chongqing{
  left: 344px;
  top: 338px;
}

.huabei{
  left: 448px;
  top: 168px;
}
.huazhong{
  left: 428px;
  top: 318px;
}
.huadong{
  left: 529px;
  top: 236px;
}
.huanan{
  left: 406px;
  top: 390px;
}

.dongbei{
  left: 587px;
  top: 79px;
}

.xibei{
  left: 205px;
  top: 162px;
}
.xinan{
  left: 208px;
  top: 294px;
}
